.container-fluid{
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    text-align: center;
}


#bg-text h1{
  font-size: 80px; 
  letter-spacing: 12px;
  text-align: center;
}


#bg-text {
  background-image: url("glenb.jpg"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
  padding: 15% 0%;
  color: #FFF;
  font-family: "nueva-std", sans-serif;
  text-align: center;
  text-shadow: 1px -1px 0 #000,-1px 1px 0 #bcbcbc,1px 1px 0 #000;
}

#text{
 background-color: grey;
 color: #FFF;
 text-align: center;
 font-family: helvetica, sans-serif;
 font-size: 28px;
 height: 100%;
 margin: 0, 22%;
}

#recentPlaces{
  background-color: #e2eaff; 
  height: 100%;
  text-align: center;
  padding: 5% 0;
}

.col-lg-4 h3{
  font-family: "Chicle", cursive;
  font-size: 36px;
  color: black;
}

p{
 font-family: 'Karma', serif; 
 text-align: center;
 color: black;
}


img{
  border-radius: 50%; 
  padding: 2%
}


#clickHere{
 background-color: black;
 text-align: center;
 color: white;
 font-size: 18px;
 font-family: 'Fredericka the Great', cursive;
}

.image{
  max-width: 80%;
}
